@import '../../src/common/common.scss';
@import './pages.scss';

.laptop {
    position: relative;
    display: flex;
    overflow: visible;
    flex-direction: column;
    width: 720px;
    height: 100%;
    margin-left: 30px;
    justify-content: center;
    transform: translateZ(0);

    &__mockup {
        position: absolute;
        top: 60%;
        left: 0;
        width: 735px;
        height: 100%;
        max-height: 820px;
        background-repeat: no-repeat;
        background-position: 0;
        opacity: 0;
        background-size: contain;
        transition-property: all;
        transform: translate3d(0, calc(-50% + 80px), 0);
    }
}

.page, .page:before {
    position: absolute;
    left: 0;
    width: 100%;
}

.page_order_previous.page:before {
    top: -100%;
}

.page {
    top: 0;
    display: flex;
    overflow: hidden;
    min-width: 800px;
    height: 100vh;
    min-height: 600px;
    opacity: 0;
    color: #fff;
    transition-property: all;

    &:before {
        height: 100%;
        top: 100%;
        content: "";
        background-size: cover;
        transition-property: top;
    }

    &_visible {
        opacity: 1;

        .page__title,
        .page__description,
        .laptop__mockup {
            opacity: 1;
        }

        &:before {
            top: 0;
        }
    }

    &__content-wrapper {
        display: flex;
        margin: 91px auto;
    }

    &__column {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 460px;
        justify-content: center;
    }

    &__content {
        position: relative;
        z-index: 3;
        top: -12px;
        padding-right: 30px;
    }

    &__title {
        opacity: 0;
        font-size: 46px;
    }

    &__description {
        opacity: 0;
        margin: 13px 0 28px;
        font-size: 20px;
        line-height: 26px;
    }
}