.text {
    &-small {
        font-size: small;
    }

    &-medium {
        font-size: medium;
    }

    &-large {
        font-size: large;
    }

    &-x-large {
        font-size: x-large;
    }

    &-xx-large {
        font-size: xx-large;
    }

    &-bold {
        font-weight: bold;
    }

    &-normal {
        font-weight: normal;
    }

    &-thin {
        font-weight: 200;
    }

    &-black {
        color: black;
    }

    &-white {
        color: white;
    }

    &-vertical-align {
        &_bottom {
            vertical-align: bottom;
        }

        &_middle {
            vertical-align: middle;
        }
    }
}