.page_animate-hide-up {
    &:before {
        z-index: -1;
    }

    & .page__description,
    & .page__title {
        opacity: 0 !important;
        transition-duration: .3s;
        transform: translate3d(0,-60px,0);
    }

    & .page__description {
        transition-delay: .1s;
    }

    &.page_visible .laptop__mockup {
        opacity: 0;
        transition-delay: .1s;
        transition-duration: .3s;
        transform: translate3d(0,calc(-50% - 80px),0);
    }
}